---
title: Coming Soon
---
extends layouts/_layout
block content
  .coming
    .coming__text
      p BlackCube<br> Agency
      p Сайт на реконструкции
      p Обновимся осенью
      p Звоните
      p
        a(href="tel:+7 (812) 425-63-83") +7 (812) 425-63-83
      p Пишите<br>
        a(href="mailto:hello@blackcube.ru") hello@blackcube.ru
    .logo
      img(src="img/logo_white.png", alt="")
      p Санкт-Петербург, пр. Обуховской Обороны проспект, 112 к2 лит И оф.213
  
