---
title: Coming Soon
---
extends layouts/_layout
block content
  .coming
    .coming__text
      p BlackCube<br> Agency
      p Сайт на реконструкции
      p Обновимся осенью
      p Звоните
      p
        a(href="#") +78888888888
      p Пишите<br>
        a(href="#") eugenepro@icloud.com
    .logo
      img(src="img/logo_white.png", alt="")
  
